npy_files/2_MERGED_imgs.npy
npy_files/hurricane-matthew_imgs.npy
npy_files/midwest-flooding_imgs.npy
npy_files/socal-fire_imgs.npy


2_MERGED_imgs.npy
hurricane-matthew_imgs.npy
midwest-flooding_imgs.npy
socal-fire_imgs.npy